  <link rel="stylesheet" href="assets/showcase.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<header role="banner" class="parallax-header">
      <h1 class="parallax-logo"><a href="http://devmeettech.com"><img src="http://i.imgur.com/CsYAB8Z.png" alt="Dev, meet Tech" /></a></h1>
    </header>

    <main role="main">
      <div class="wrapper">
        <section class="section-story">

          <div class="story__intro">
            <p>
              The Dev, meet Tech pilot event was run as a one day event on Saturday 22nd August 2015. For this event,
              <strong>18 student change makers</strong> came together on a summer Saturday from a diverse range of backgrounds
              to develop new ways to use technology for good.
            </p>

            <p>
              We also had <strong>6 mentors</strong> to help guide the teams in their developments, and
              <strong>3 fantastic speakers</strong> to help set the scene for the day in our morning speaker series.
              After the speaker series, the cohort was split into groups and sent on their way to get developing.
            </p>

            <p>
              <strong>Their results were insanely cool.</strong>
            </p>
          </div>

          <div class="story__bubbles">

            <div class="row">
              <img src="http://i.imgur.com/WQkzOOc.jpg" />
              <p>
                Technology is all around us and holds huge potential to provoke positive changes. Dev, meet Tech was
                organized due to a trend that we've been seeing in the tech scene: we're not being exposed to the
                <strong>power that technology</strong> can have to provoke real positive social change. We realised
                that technology can be used to do good <strong>by anybody</strong>. All that's required is an innovative
                mind and some basic tech skills. From this we spawned the idea of <strong>Dev, meet Tech</strong>.
              </p>
            </div>

            <div class="row">
              <img src="http://i.imgur.com/cTFMdyw.jpg" />
              <p>
                <strong>40%</strong> of the cohort were non-tech students. This provided the teams on the day
                with lots of <strong>different outlooks</strong> to problems and how technology can be used to
                tackle them. We had a selection of <strong>business, poltics and art students</strong>, as well as
                tech students, who all brought their own skillsets and views on a wide range of issues in today's world.
              </p>
            </div>

            <div class="row">
              <img src="http://i.imgur.com/qQhkcfY.jpg" />

              <p>
                For Dev, meet Tech, we tried to move away from traditional hackathon concepts (we even avoid using the word
                ”hackathon” because of its baggage). We did however still use regular ”hacking food”, like
                <strong>pizza and beer :)</strong> In the morning we held a <strong>speaker series</strong> made up of three
                fantastic speakers who all provided the cohort with food for thought to set them up for the rest of the day.
              </p>
            </div>

          </div>

          <div class="story__ending">

            <blockquote>
              <p>
                “It wasn't like a 'typical' hackathon, it was more than that.”
              </p>
            </blockquote>

            <p>
              We have now showed for ourselves and the attendees of Dev, meet Tech that our hypothesis holds:
            </p>

            <p class="highlight">
              Students can make a real difference using technology
            </p>

            <p>
              <strong>Technology can empower anyone</strong> to provoke a positive change in this world.
              We hope to awaken students to this power and how it can be utilised to benefit today's world.
            </p>
          </div>
        </section>
      </div>

      <section class="section-teams">
        <h1>The <strong>people</strong> &amp; what they <strong>created</strong></h1>

      <article class="team" id="fundivate">
        <header>
          <div class="team__info_left">
            <a href="#fundivate" class="team__anchor_link"><h2>Fundivate</h2></a>

            <div class="team__description">
              <p>
                This website allows users to add and browse through some of the most creative fundraising ideas,
                view fundraising ratings and get in touch with like minded fundraisers.
              </p>
              <p>
                The goal here is to give fundraisers the ability to asses the feasability of a fundraising method by reading about
                other people's experiences. Fundivate may also inspire new and creative ways of raising funds for non-profits.
              </p>
              <p>
                <strong>Team:</strong> Donal Martin and Eoghan Martin.
              </p>
            </div>
          </div>

          <figure class="team__screenshot">
                <img src="http://i.imgur.com/1O0MiBB.png" />
          </figure>
        </header>
      </article>

      <article class="team" id="1000welcomes">
        <header>
          <figure class="team__screenshot" style="background-color:#FF6300;">
                <img src="http://i.imgur.com/DpHNmgy.png" />
          </figure>
          <div class="team__info_right">
            <a href="#1000welcomes" class="team__anchor_link"><h2>1000 Welcomes</h2></a>

            <div class="team__description">
              <p>
                1000 Welcomes is a website aimed at bringing refugees and new community members into the community.
                The ultimate goal is inclusion.
              </p>
              <p>
                This website allows for an interaction between the local community and it's new and incoming members.
                It provides an outlet for seasoned members of a community to give helpful advice to incoming members
                and also allows for the setting up of meet-ups between local community members and incoming members.
              </p>
              <p>
                <strong>Team:</strong> Ali Kelly, Kieran Fraser, Sarah Kingston and Shauna Byrne.
              </p>
            </div>
          </div>
        </header>
      </article>

      <article class="team" id="foster">
        <header>
          <div class="team__info_left">
            <a href="#foster" class="team__anchor_link"><h2>Foster</h2></a>

            <div class="team__description">
              <p>
                Foster is a web application with the goal of helping get deprecated computers from industry to people
                in need. The amount of computers that get sold on for refabrication after use from companies like Intel is astounding.
              </p>
              <p>
                Using this app, a time can be set up for when to collect the computers, they are then brought to a refurbishment
                company and from there, the app can also be used to distribute these newly refurbished machines to people who are
                most in need. These people will "foster" the newly refurbished machines.
              </p>
              <p>
                <strong>Team:</strong> Arpad Papp, Deirdre Meehan, Kevin Waters and Laura McMahon.
              </p>
            </div>
          </div>

          <figure class="team__screenshot" style="background-color:#C84DFF;">
                <img src="http://i.imgur.com/EKvN2Xh.png" />
          </figure>
        </header>
      </article>

      <article class="team" id="whatsnotnews">
        <header>
          <figure class="team__screenshot">
                <img src="http://i.imgur.com/46Jlava.png" />
          </figure>
          <div class="team__info_right">
            <a href="#whatsnotnews" class="team__anchor_link"><h2>What's Not News</h2></a>

            <div class="team__description">
              <p>
                Have you been wondering how the earthquake recovery is going in Nepal? Or what the inside story is with
                 clothing factories in Bangladesh?
              </p>
              <p>
                What's Not News uses public voting to dictate which stories are most popular from around the world with a focus
                on news that may not be in mainstream news mediums. Verified writers can gain an online reputation by upvotes
                from readers on their writings.
              </p>
              <p>
                <strong>Team:</strong> Gytis Jankauskas, Paul Whelan and Rachael Fitzimons.
              </p>
            </div>
          </div>
        </header>
      </article>

      <article class="team" id="gooddeeds">
        <header>
          <div class="team__info_left">
            <a href="#gooddeeds" class="team__anchor_link"><h2>Good Deeds</h2></a>

            <div class="team__description">
              <p>
                To use this application, each user sets up a profile. Verified charities can set up jobs that they need done,
                for example, volunteering at an upcoming event. The users can then swipe through all of the jobs that need
                doing in their local area; right if they'd like to do the job, left if they're not interested. If a user
                swipes right and the charity feels that they would be a good fit for the job, the charity can open a stream
                of communication and get the swiper on board.
              </p>
              <p>
                <strong>Team:</strong> Amanda Mrnak, Louis Gallagher, Robyn Keogh and Yana Kullzhskaya.
              </p>
            </div>
          </div>

          <figure class="team__screenshot" style="background-color:#00B4DD;">
                <img src="http://i.imgur.com/u6hEuhs.png" />
          </figure>
        </header>
      </article>

      </section>

      <blockquote>
        <p>“I won the best thing. Friends.”</p>
      </blockquote>

      <iframe class="group-image" align=center src=http://www.flickr.com/slideShow/index.gne?user_id=135278234@N03&tags=pilot
      frameBorder=0 width=100% scrolling=no height=700px></iframe>
    </main>

    <footer role="contentinfo">
      <p>
        For more info and questions, feel free to shoot us an email at
      </p>

      <p class="highlight">
        <a href="mailto:hello@devmeettech.com">hello@devmeettech.com</a>
      </p>

      <div class="thanks">
        <h2>Thanks to …</h2>

        <p>
          <a href="https://www.zendesk.com/"><img src="http://i.imgur.com/gvgPg3w.png" alt="Zendesk" /></a>
          <a href="http://www.stand.ie/ideas/?source=suas-website"><img src="http://i.imgur.com/JhqQxIN.png" alt="Suas IDEAS Collective" /></a>
        </p>

        <p>
          … for sponsoring, and to…
        </p>

        <div class="row speakers">
          <div class="col-md-4">
              <a href="http://socialentrepreneurs.ie/"><img class="avatar" src="http://socialentrepreneurs.ie/assets/2013/02/Eamonn-Bio.jpg" alt="Eamonn from Social Entrepreneurs Ireland" /></a>
              <p>Eamonn Fitzgerald</p>
          </div>
          <div class="col-md-4">
            <a href="http://www.datakind.org/howitworks/datachapters/datakind-dub/"><img class="avatar" src="https://pbs.twimg.com/profile_images/590659592373334017/w49dbd7A_400x400.png" alt="Sam from DataKind" /></a>
            <p>Sam Whelan-Curtin</p>
          </div>
          <div class="col-md-4">
              <a href="http://www.killianstokes.com/"><img class="avatar" src="https://media.licdn.com/media/p/1/005/099/3ff/21263b0.jpg" alt="Killian from MyGoodPoints.org" /></a>
              <p>Killian Stokes</p>
          </div>
        </div>

        <p>
          … for giving amazing talks.
        </p>
        <p class="photography">
          Also to <strong><a href='http://www.leenproductions.com/'>Leen Tagney</a></strong> for oftering his brilliant photography skills.
        </p>
        <p>
          And of course to our fantastic mentors <strong>Ben Chapman</strong>, <strong>Kevin Sexton</strong>, <strong>Deirdre Kelly</strong> and <strong>Grainne Carley</strong>.
        </p>
      </div>
    </footer>
